<div>
  <h2 id="page-heading" data-cy="TripHeading">
    <span jhiTranslate="icmrDailyCountUpdation2App.trip.home.title">Trips</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.trip.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trip"
        [routerLink]="['/trip/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.trip.home.createLabel"> Create a new Trip </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trips?.length === 0">
    <span jhiTranslate="icmrDailyCountUpdation2App.trip.home.notFound">No trips found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trips && trips.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trackingNo">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.trackingNo">Tracking No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mobaId">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.mobaId">Moba Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numberPlate">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.numberPlate">Number Plate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stock">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.stock">Stock</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="supplier.name">
            <span jhiTranslate="icmrDailyCountUpdation2App.trip.supplier">Supplier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trip of trips; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trip', trip.id, 'view']">{{ trip.id }}</a>
          </td>
          <td>{{ trip.trackingNo }}</td>
          <td>{{ trip.mobaId }}</td>
          <td>{{ trip.numberPlate }}</td>
          <td>{{ trip.stock }}</td>
          <td jhiTranslate="{{ 'icmrDailyCountUpdation2App.TransactionStatus.' + trip.status }}">{{ trip.status }}</td>
          <td>{{ trip.createdDate | formatMediumDatetime }}</td>
          <td>{{ trip.createdBy }}</td>
          <td>{{ trip.lastModified | formatMediumDatetime }}</td>
          <td>{{ trip.comment }}</td>
          <td>{{ trip.lastModifiedBy }}</td>
          <td>
            <div *ngIf="trip.supplier">
              <a [routerLink]="['/supplier', trip.supplier?.id, 'view']">{{ trip.supplier?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/trip', trip.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/trip', trip.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(trip)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trips && trips.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
