<div>
  <h2 id="page-heading" data-cy="ICMRDailyCountHeading">
    <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.home.title">ICMR Daily Counts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-icmr-daily-count"
        [routerLink]="['/icmr-daily-count/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.home.createLabel"> Create a new ICMR Daily Count </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="iCMRDailyCounts?.length === 0">
    <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.home.notFound">No iCMRDailyCounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="iCMRDailyCounts && iCMRDailyCounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalSamplesTested">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.totalSamplesTested">Total Samples Tested</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalNegative">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.totalNegative">Total Negative</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalPositive">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.totalPositive">Total Positive</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentPreviousMonthTest">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.currentPreviousMonthTest">Current Previous Month Test</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="districtId">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.districtId">District Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="editedOn">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.editedOn">Edited On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedDate">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.updatedDate">Updated Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.freeField1">Free Field 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="icmrDailyCountUpdation2App.iCMRDailyCount.freeField2">Free Field 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let iCMRDailyCount of iCMRDailyCounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/icmr-daily-count', iCMRDailyCount.id, 'view']">{{ iCMRDailyCount.id }}</a>
          </td>
          <td>{{ iCMRDailyCount.totalSamplesTested }}</td>
          <td>{{ iCMRDailyCount.totalNegative }}</td>
          <td>{{ iCMRDailyCount.totalPositive }}</td>
          <td>{{ iCMRDailyCount.currentPreviousMonthTest }}</td>
          <td>{{ iCMRDailyCount.districtId }}</td>
          <td>{{ iCMRDailyCount.remarks }}</td>
          <td>{{ iCMRDailyCount.editedOn | formatMediumDatetime }}</td>
          <td>{{ iCMRDailyCount.updatedDate | formatMediumDatetime }}</td>
          <td>{{ iCMRDailyCount.freeField1 }}</td>
          <td>{{ iCMRDailyCount.freeField2 }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/icmr-daily-count', iCMRDailyCount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/icmr-daily-count', iCMRDailyCount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(iCMRDailyCount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="iCMRDailyCounts && iCMRDailyCounts.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
