<div>
  <h2 id="page-heading" data-cy="BedInventoryHeading">
    <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.home.title">Bed Inventories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bed-inventory"
        [routerLink]="['/bed-inventory/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.home.createLabel"> Create a new Bed Inventory </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bedInventories?.length === 0">
    <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.home.notFound">No bedInventories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bedInventories && bedInventories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bedCount">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.bedCount">Bed Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="occupied">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.occupied">Occupied</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="onCylinder">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.onCylinder">On Cylinder</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="onLMO">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.onLMO">On LMO</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="onConcentrators">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.onConcentrators">On Concentrators</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.lastModifiedBy">Last Modified By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bedType.name">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.bedType">Bed Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hospital.name">
            <span jhiTranslate="icmrDailyCountUpdation2App.bedInventory.hospital">Hospital</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bedInventory of bedInventories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bed-inventory', bedInventory.id, 'view']">{{ bedInventory.id }}</a>
          </td>
          <td>{{ bedInventory.bedCount }}</td>
          <td>{{ bedInventory.occupied }}</td>
          <td>{{ bedInventory.onCylinder }}</td>
          <td>{{ bedInventory.onLMO }}</td>
          <td>{{ bedInventory.onConcentrators }}</td>
          <td>{{ bedInventory.lastModified | formatMediumDatetime }}</td>
          <td>{{ bedInventory.lastModifiedBy }}</td>
          <td>
            <div *ngIf="bedInventory.bedType">
              <a [routerLink]="['/bed-type', bedInventory.bedType?.id, 'view']">{{ bedInventory.bedType?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="bedInventory.hospital">
              <a [routerLink]="['/hospital', bedInventory.hospital?.id, 'view']">{{ bedInventory.hospital?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bed-inventory', bedInventory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bed-inventory', bedInventory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bedInventory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bedInventories && bedInventories.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
