<div>
  <h2 id="page-heading" data-cy="InventoryUsedHeading">
    <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.home.title">Inventory Useds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inventory-used"
        [routerLink]="['/inventory-used/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.home.createLabel"> Create a new Inventory Used </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inventoryUseds?.length === 0">
    <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.home.notFound">No inventoryUseds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inventoryUseds && inventoryUseds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stock">
            <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.stock">Stock</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capcity">
            <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.capcity">Capcity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.lastModifiedBy">Last Modified By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inventory.id">
            <span jhiTranslate="icmrDailyCountUpdation2App.inventoryUsed.inventory">Inventory</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventoryUsed of inventoryUseds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inventory-used', inventoryUsed.id, 'view']">{{ inventoryUsed.id }}</a>
          </td>
          <td>{{ inventoryUsed.stock }}</td>
          <td>{{ inventoryUsed.capcity }}</td>
          <td>{{ inventoryUsed.comment }}</td>
          <td>{{ inventoryUsed.lastModified | formatMediumDatetime }}</td>
          <td>{{ inventoryUsed.lastModifiedBy }}</td>
          <td>
            <div *ngIf="inventoryUsed.inventory">
              <a [routerLink]="['/inventory', inventoryUsed.inventory?.id, 'view']">{{ inventoryUsed.inventory?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inventory-used', inventoryUsed.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inventory-used', inventoryUsed.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inventoryUsed)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="inventoryUseds && inventoryUseds.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
