<div>
  <h2 id="page-heading" data-cy="TalukaHeading">
    <span jhiTranslate="icmrDailyCountUpdation2App.taluka.home.title">Talukas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.taluka.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-taluka"
        [routerLink]="['/taluka/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.taluka.home.createLabel"> Create a new Taluka </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="talukas?.length === 0">
    <span jhiTranslate="icmrDailyCountUpdation2App.taluka.home.notFound">No talukas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="talukas && talukas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="icmrDailyCountUpdation2App.taluka.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <span jhiTranslate="icmrDailyCountUpdation2App.taluka.deleted">Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lgdCode">
            <span jhiTranslate="icmrDailyCountUpdation2App.taluka.lgdCode">Lgd Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="icmrDailyCountUpdation2App.taluka.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="icmrDailyCountUpdation2App.taluka.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="district.name">
            <span jhiTranslate="icmrDailyCountUpdation2App.taluka.district">District</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taluka of talukas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/taluka', taluka.id, 'view']">{{ taluka.id }}</a>
          </td>
          <td>{{ taluka.name }}</td>
          <td>{{ taluka.deleted }}</td>
          <td>{{ taluka.lgdCode }}</td>
          <td>{{ taluka.lastModified | formatMediumDatetime }}</td>
          <td>{{ taluka.lastModifiedBy }}</td>
          <td>
            <div *ngIf="taluka.district">
              <a [routerLink]="['/district', taluka.district?.id, 'view']">{{ taluka.district?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/taluka', taluka.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/taluka', taluka.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taluka)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="talukas && talukas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
