<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transactions">
      <h2 data-cy="transactionsDetailsHeading">
        <span jhiTranslate="icmrDailyCountUpdation2App.transactions.detail.title">Transactions</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transactions.id }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.stockReq">Stock Req</span></dt>
        <dd>
          <span>{{ transactions.stockReq }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.stockProvided">Stock Provided</span></dt>
        <dd>
          <span>{{ transactions.stockProvided }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'icmrDailyCountUpdation2App.TransactionStatus.' + transactions.status }}">{{ transactions.status }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.comment">Comment</span></dt>
        <dd>
          <span>{{ transactions.comment }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ transactions.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ transactions.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.supplier">Supplier</span></dt>
        <dd>
          <div *ngIf="transactions.supplier">
            <a [routerLink]="['/supplier', transactions.supplier?.id, 'view']">{{ transactions.supplier?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="icmrDailyCountUpdation2App.transactions.inventory">Inventory</span></dt>
        <dd>
          <div *ngIf="transactions.inventory">
            <a [routerLink]="['/inventory', transactions.inventory?.id, 'view']">{{ transactions.inventory?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transactions', transactions.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
