<div>
  <h2 id="page-heading" data-cy="TransactionsHeading">
    <span jhiTranslate="icmrDailyCountUpdation2App.transactions.home.title">Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.transactions.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transactions"
        [routerLink]="['/transactions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icmrDailyCountUpdation2App.transactions.home.createLabel"> Create a new Transactions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
    <span jhiTranslate="icmrDailyCountUpdation2App.transactions.home.notFound">No transactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stockReq">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.stockReq">Stock Req</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stockProvided">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.stockProvided">Stock Provided</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.lastModifiedBy">Last Modified By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="supplier.name">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.supplier">Supplier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inventory.id">
            <span jhiTranslate="icmrDailyCountUpdation2App.transactions.inventory">Inventory</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactions of transactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transactions', transactions.id, 'view']">{{ transactions.id }}</a>
          </td>
          <td>{{ transactions.stockReq }}</td>
          <td>{{ transactions.stockProvided }}</td>
          <td jhiTranslate="{{ 'icmrDailyCountUpdation2App.TransactionStatus.' + transactions.status }}">{{ transactions.status }}</td>
          <td>{{ transactions.comment }}</td>
          <td>{{ transactions.lastModified | formatMediumDatetime }}</td>
          <td>{{ transactions.lastModifiedBy }}</td>
          <td>
            <div *ngIf="transactions.supplier">
              <a [routerLink]="['/supplier', transactions.supplier?.id, 'view']">{{ transactions.supplier?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactions.inventory">
              <a [routerLink]="['/inventory', transactions.inventory?.id, 'view']">{{ transactions.inventory?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transactions', transactions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transactions', transactions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transactions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactions && transactions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
